.input-group-prepend{
    border-style: groove;
    border-width: medium;
    border-color: gray;
}
.input-group-text{
    border-style: none;
}


#warning-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo{
    border: 2px solid #1e90ff ;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 7px;

    display:flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
}
.done{
    color: dodgerblue;
}

.showOfflineNotification {
    display: block;
}
.hideOfflineNotification {
    display: none;
}

.container {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container2{
    margin: 10px;
    display:flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
}

